@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
 /* scrool bar */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 30px;
   
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: blue; 
    border-radius: 10px;
    
  }

 /* scroll bar */


 /* 1st Page */
body{
    
}
.container1{
    display: flex;
    /* position: fixed; */
    width: 100%;
    flex-direction: row;
    background-color: white;
    justify-content: space-between;
    background: linear-gradient(125deg,rgb(119, 239, 255),rgb(171, 152, 255));
}
.container11{
    margin: 10px 130px;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}
.logo img{
    width: 20px;
    margin: 0 10px 0 0;
}
.container12{
    font-size: 13px;
    font-weight: bold;
    margin: 10px 130px;
}
.container12 ul{
    margin: 0;
    display: flex;
    list-style: none;
}
.container12 ul li{
    margin: 10px;
}

@media (max-width: 950px) {
    .container12{
        display: none;
        /* display: flex; */
        /* flex-direction: column; */
        /* align-items: start; */
    }
}




/* container 2 */
.container2{
    margin: 0 auto;
    display: flex;
    width: 100%;
    top: 200px;
    min-height: 100vh;
    /* background: rgb(233, 237, 255); */
    background: linear-gradient(125deg,rgb(199, 248, 255),rgb(183, 194, 255));

    justify-content: space-between;
}
.container21{
    margin: 50px 0 0 10%;
    width:50%;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: end; */
}
.container21 h2{
    margin-top: 30px;
    font-size: 45px;
}

.container21 h4{
    margin-top: 25px;
    font-size: 30px;
}
span{
    color: orange;
}
.container21 button{
    margin-top: 30px;
    border: none;
    padding: 15px 25px;
    color: aliceblue;
    background-color: rgb(0, 93, 242);
    border-radius: 50px;
    font-size: 15px;
}
button:hover{
    background-color: blue;
    box-shadow: 2px 2px blue;
}
.container21 ul{
    display: flex;
    margin-top: 20px;
}

.container21 ul li{
    margin: 10px 10px;
    list-style: none;
}
.fa-brands{
    /* width: 10%; */
    border: 12px solid black;
    border-radius: 50%;
    color: #00D9FF;
    background-color: black;
}
.fa-brands::before{
    /* width: 120%; */
}
.fa-brands:hover{
    background-color: #00D9FF;
    border-color: #00D9FF;
    color: white;
}
.container21 ul li:nth-child(1){
    margin-left: 0;
}
.container22{
    width: 50%;
    /* justify-content: center; */

}
.container22 img{
    margin: 70px 40px;
    width: 55%;
    border-radius: 50%;
}




/* 2nd Page */
.container3{
    background: linear-gradient(125deg,rgb(207, 248, 255),rgb(206, 212, 255));
}
.container3 h1{
    padding-top: 20px;
    font-size: 40px;
    text-align: center;
}
.container32{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container32 img{
    width: 20%;
    aspect-ratio: 3/4;
    margin: 30px 100px 20px 70px;
    border-radius: 10px;
}
.container322{
    width: 40%;
    height: 40%;
    margin: 30px 20px 20px 50px;
}
.container322 h2{
    /* margin-bottom: 100px; */
    font-size: 30px
}
.container322 h3{
    margin-bottom: 20px;
}
.container322 p{
    font-family:Arial, Helvetica, sans-serif;
}
.container322 p:nth-child(5){
    margin-bottom: 8px;
}
.resume{
    margin-top: 15px;
    border-radius: 10px;
    padding: 12px 30px; 
    font-size: 15px;
    border: none;
    background-color: rgb(0, 93, 242);
}
.resume a{
    text-decoration: none;
    color: white;
}
.fa-solid{
    font-weight: bold;
    color: white;
}

@media (max-width: 700px){
    .container32 img{
        display: none;
    }
    .container322{
        width: 100%;
    }
    .container3{
        background: rgb(222, 228, 255);

    }
}


/* 3rd Page Styles */
.container4 {
    background-color: #5304B1;
    padding: 50px 0;
}

.container4 h1 {
    text-align: center;
    font-size: 36px;
    color: aliceblue;
    margin-bottom: 30px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 20px;
    width: 75%;
    margin: auto;
    border-radius: 15px;
    background-color: #33026D;
    padding: 20px;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #05001f;
    border-radius: 15px;
    color: white;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.grid-item:hover {
    background-color: #05002f;
    box-shadow: 5px 10px 8px #05003f;
}

.grid-item img {
    width: 50%;
}

.grid-item-1 {
    text-align: center;
}

.grid-item-1 img {
    margin: 12px auto;
}

.tech-name1 {
    margin: 10px;
    text-align: center;
    font-family: cursive;
    font-size: 18px;
}


/* 4th Page Styles */
.container5 {
    background-color: #d8f4f9;
    padding: 20px 0 10px;
}

.container5 h1 {
    text-align: center;
    font-size: 36px;
    padding-top: 20px;
    margin-bottom: 15px;
}

.container5 p {
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
}

.container51 {
    background-color: aliceblue;
    width: 70%;
    margin: 15px auto;
    height: auto;
    display: flex;
    border-radius: 20px;
    transition: box-shadow 0.3s, width 1s;
}

.container51:hover {
    box-shadow: 5px 5px 5px grey;
    width: 72%;
}

.container51 img {
    width: 30%;
    padding: 10px;
    border-radius: 20px;
}

.container511 h1 {
    font-size: 24px;
    color: #05003f;
    margin: 10px;
}

.container511 p {
    text-align: left;
    margin: 10px;
    font-size: 14px;
}

.container511 p a {
    text-decoration: none;
    margin: 10px;
    font-size: 14px;
}

.container511 h2 {
    color: green;
    margin: 10px;
    font-size: 18px;
}

/* ... */



/* 4th page */

.container5{
    background-color: #d8f4f9;
    /* box-sizing: border-box; */
    padding-bottom: 10px;
}
.container5 h1{
    text-align: center;
    font-size: 40px;
    padding-top: 10px;
}
.container5 p{
    margin-top: 10px;
    text-align: center;
    font-size: 13px;
}
.container51{
    /* display: flex; */
    background-color: aliceblue;
    /* text-align: left; */
    width: 70%;
    margin: 15px auto;
    height: 75%;
    display: flex;
    border-radius: 20px;
}
.container51:hover{
    box-shadow: 5px 5px 5px grey;
    width: 72%;
    transition: 1s 0.01s width;
}
.container51 img{
    width: 30%;
    /* float: left; */
    padding: 10px;
    border-radius: 20px;
}
.container511 h1{
    text-align: left;
    font-size: 25px;
    color:#05003f;
    margin: 10px;
}
.container511 p{
    text-align: left;

}
.container511 p a{
    text-decoration: none;
    margin: 10px;
    font-size: 15px;
}
.container511 h2{
    color: green;
    margin: 10px;
    font-size: 20px;
}
@media (max-width:700px){
    .container51{
        width: 90%;
    }
}



/* 5th Page */
.projects {
    background-color: #F0F0F0;
    padding: 40px;
}

.projects-heading {
    text-align: center;
    margin-bottom: 40px;
    color: #333;
}

.project-card {
    padding: 20px 0 ;
    background-color: #fff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease;
}

.project-card:hover {
    transform: translateY(-5px);
}

.project-image {
    width: 200px;
    border-radius: 10px 10px 0 0;
}

.project-details {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.project-details h3 {
    color: #333;
    margin-bottom: 5px;
}

.project-link {
    align-self: flex-end;
    margin-top: auto;
    padding: 5px 10px;
    background-color: #18a274;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.project-link:hover {
    background-color: #43b58f;
}
/* 6th Page */

.container7{
    background-color: #E5ECFB;
    padding-bottom: 40px;
}
.container7 h1{
    text-align: center;
    padding-top: 25px;
    padding-bottom: 15px;
}
.container7 h1 i{
    color: black;
}
.container71{
    display: flex;
    margin: auto;
    width: 65%;
    background-color: #fff;
    border-radius: 10px;
}
.container7 img{
    margin: 0 auto;
    align-items: center;
    width: 40%;
}
.container7 form{
    width: 42%;
    margin: 0 auto;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
}
.box1{
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 10px;
    border: 1.5px solid #000;
    width: 100%;
    background-color: #E5ECFB;
    font-size: 15px;
}
.container7 form textarea{
    margin-bottom: 20px;
    background-color: #E5ECFB;
    padding: 15px;
    border-radius: 10px;
    border: 1.5px solid #000;
    width: 100%;
    font-size: 15px;
}
.submit{
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 10px;
    border: 1.5px solid #000;
    width: 100%;
    background-color: #E5ECFB;
    font-size: 15px;
    background-color: #2316b3;
    color: #fff;
}
.submit:hover{
    background-color: #052973;
    color: #fff;
    transition: 1s;
}


@media (max-width:800px){
    .container71 img{
        display: none;
    }
    .container71{
        width: 90%;
    }
    .container71 form{
        width: 100%;
        background: linear-gradient(125deg,rgb(169, 245, 255),rgb(208, 197, 255));
        /* padding: 0; */
        /* margin: 0; */
    }
    .form_container{
        width: 100%;
    }
    .box1{
        width: 100%;
    }
    
}


/* 7th Page */

.container8{
    background-color: #33026D;
    margin: auto;
    color: white;
}
.container81{
    display: flex;
    justify-content: center;
}
.head1{
    font-size: 24px;
    margin-bottom: 15px;
}
.portfolio{
    padding-top: 20px;
    margin: 0 40px;
    
}
.portfolio p{
    margin-bottom: 16px;
}
.quickLink{
    padding: 20px;
    margin: 0 40px;
}
.quickLink ul li{
    margin-bottom: 8px;
}
.contactInfo{
    padding: 20px;
    margin: 0 40px;
}
.contactInfo ul{
    display: flex;
    list-style: none;
    /* margin-top: 10px; */
}
.contactInfo ul li{
    margin-right: 5px;
}
.container8 a{
    text-decoration: none;
    color: #fff;
}
.container8 a:visited{
    color: rgb(172, 196, 255);
}
.contactInfo p{
    margin-bottom: 8px;
}
hr{
    border: 0;
    width: 80%;
    margin: auto;
    height: 2px;
    background-color: rgb(81, 72, 72);
}
.footer{
    background-color: #33026D;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
@media (max-width:800px){
    .container81{
        display: flex;
        flex-direction: column;
    }
}
